@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@200;300;500;700&family=Raleway:wght@500;700&display=swap);
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media screen and (min-width: 425px) {
  .container {
    max-width: 425px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 450px;
  }
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 990px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1410px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    max-width: 1820px;
    margin: 0 auto;
  }
}
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background: #FFF;
  position: relative;
}

button, a {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body.fixing, html.fixing {
  width: 100vw;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.line {
  width: 200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
  bottom: -30px;
  z-index: 999;
  height: 5px;
  background: #FFCA00;
}

.main {
  position: relative;
}

.overlay {
  height: 100%;
  width: calc(100vw + 5px);
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.85); /* Black w/opacity */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.header {
  height: 60px;
  background: #fff;
  position: relative;
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
    border-bottom: 1px solid #ECECEC;
  }
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0px 16px 0px;
}

@media screen and (min-width: 1200px) {
  .header__top {
    padding: 25px 0px 24px 0px;
  }
}
.header__logo--link {
  text-decoration: none;
}

.header__logo {
  font-family: "Raleway", sans-serif;
  color: #1d1d1d;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.72px;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 38px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}
@media screen and (min-width: 1920px) {
  .header__logo {
    font-size: 26px;
  }
}
.header__logo span {
  color: #FFCA00;
}

.header__menu--burger {
  position: absolute;
  right: 0;
  bottom: 5px;
  z-index: 1001;
  height: 2px;
  width: 20px;
  border-radius: 1px;
  background-color: #1d1d1d;
}

@media screen and (min-width: 768px) {
  .header__menu--burger {
    display: none;
  }
}
.header__menu--burger::after {
  content: "";
  border-radius: 1px;
  position: absolute;
  right: 0;
  top: 7px;
  height: 2px;
  width: 20px;
  background-color: #1d1d1d;
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.header__menu--burger::before {
  content: "";
  border-radius: 1px;
  position: absolute;
  right: 0;
  top: 14px;
  height: 2px;
  width: 20px;
  background-color: #1d1d1d;
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.header__btn--menu {
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
}

.header__btn--menu.active .header__menu--burger {
  background-color: transparent !important;
  cursor: pointer;
  transition-delay: 0.15s;
}

.header__btn--menu.active .header__menu--burger::after {
  background-color: #FFCA00;
  top: -2px;
  width: 20px;
  transform: translate3d(0, 10px, 0) rotate(-45deg);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
}

.header__btn--menu.active .header__menu--burger::before {
  background-color: #FFCA00;
  top: -2px;
  width: 20px;
  transform: translate3d(0, 10px, 0) rotate(45deg);
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.1s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
}

.header__menu {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 1000;
  background: #fff;
  transform: translateY(-120%);
  border-top: 2px solid #c0c0c0;
  transition: transform 0.3s ease-out;
  height: 95vh;
  width: 100vw;
}

@media screen and (min-width: 768px) {
  .header__menu {
    height: 0px;
    transform: translateY(0%);
    width: 100%;
    height: 100%;
    border: none;
    z-index: 0;
    position: static;
  }
}
.header__menu.open {
  transform: translateY(0%);
}

.header__menu--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 48px;
  padding-left: 25px;
}

@media screen and (min-width: 768px) {
  .header__menu--container {
    padding-left: 0px;
    padding-bottom: 0px;
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (min-width: 992px) {
  .header__menu--container {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1600px) {
  .header__menu--container {
    justify-content: initial;
  }
}
@media screen and (min-width: 1920px) {
  .header__menu--container {
    justify-content: space-around;
  }
}
.header__nav--menu {
  display: flex;
}

.header__nav--list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .header__nav--list {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav--list {
    gap: 40px;
  }
}
.header__nav--item {
  margin-top: 32px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .header__nav--item {
    margin-top: 0px;
  }
}
.header__nav--item.active a {
  color: #3e77aa;
}

@media screen and (min-width: 768px) {
  .header__nav--item::after {
    content: "";
    position: absolute;
    bottom: -33px;
    margin-bottom: 0px;
    border-radius: 2px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    height: 4px;
    background-color: #3e77aa;
    opacity: 0;
    transition: opacity 0.3s;
  }
}
@media screen and (min-width: 996px) {
  .header__nav--item::after {
    bottom: -33px;
  }
}
@media screen and (min-width: 1440px) {
  .header__nav--item::after {
    bottom: -31.3px;
  }
}
@media screen and (min-width: 768px) {
  .header__nav--item:hover::after {
    opacity: 1;
  }
}
.header__nav--item:first-child {
  margin-top: 48px;
}

@media screen and (min-width: 768px) {
  .header__nav--item:first-child {
    margin-top: 0px;
    margin-left: 0px;
  }
}
.header__nav--link {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: #1d1d1d;
  transition: color 0.3s ease-out;
  font-size: 36px;
}

@media screen and (min-width: 480px) {
  .header__nav--link {
    font-size: 40px;
  }
}
@media screen and (min-width: 768px) {
  .header__nav--link {
    font-size: 14px;
    letter-spacing: 0.28px;
    min-width: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav--link {
    font-size: 16px;
  }
}
.header__nav--link:hover {
  color: #3e77aa;
}

.header__menu--contacts {
  display: flex;
  flex-direction: column;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .header__menu--contacts {
    flex-direction: column-reverse;
    margin-left: auto;
    margin-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .header__menu--contacts {
    flex-direction: row-reverse;
    align-items: center;
  }
}
.header__menu--tel {
  font-weight: 500;
  text-decoration: none;
  color: #1d1d1d;
  letter-spacing: 0.68px;
  font-size: 28px;
}

@media screen and (min-width: 480px) {
  .header__menu--tel {
    font-size: 34px;
  }
}
@media screen and (min-width: 768px) {
  .header__menu--tel {
    font-size: 12px;
    letter-spacing: 0.24px;
  }
}
@media screen and (min-width: 992px) {
  .header__menu--tel {
    font-size: 14px;
  }
}
.header__menu--contacts-item {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header__menu--contacts-item {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header__menu--contacts-item {
    margin-left: 40px;
  }
}
.header__menu--contacts-item svg {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__menu--contacts-item svg {
    display: inline-block;
  }
}
.header__menu--contacts-item .smartphone {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  fill: #757575;
}

@media screen and (min-width: 1920px) {
  .header__menu--contacts-item .smartphone {
    width: 18px;
    height: 18px;
  }
}
.header__menu--contacts-item .envelope {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  fill: #757575;
}

@media screen and (min-width: 1920px) {
  .header__menu--contacts-item .envelope {
    width: 18px;
    height: 18px;
  }
}
.header__menu--contacts-item:hover .header__menu--tel, .header__menu--contacts-item:hover .header__menu--email {
  color: #3e77aa;
}

.header__menu--contacts-item:hover svg {
  fill: #3e77aa;
}

@media screen and (min-width: 768px) {
  .header__menu--contacts-item:first-child {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__menu--contacts-item:first-child {
    margin-top: 0px;
  }
}
.header__menu--contacts-item:last-child {
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .header__menu--contacts-item:last-child {
    margin-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .header__menu--contacts-item:last-child {
    margin-top: 0px;
    margin-left: 0px;
  }
}
.header__menu--email {
  font-weight: 500;
  text-decoration: none;
  color: #1d1d1d;
  letter-spacing: 0.48px;
  font-size: 22px;
}

@media screen and (min-width: 480px) {
  .header__menu--email {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  .header__menu--email {
    font-size: 12px;
    color: #1d1d1d;
    letter-spacing: 0.24px;
  }
}
@media screen and (min-width: 992px) {
  .header__menu--email {
    font-size: 14px;
  }
}
.header__menu--socials {
  display: flex;
}

@media screen and (min-width: 768px) {
  .header__menu--socials {
    display: none;
  }
}
.header__socials--list {
  display: flex;
  position: relative;
  list-style: none;
}

.header__socials--item {
  margin-left: 10px;
}

.header__socials--item:first-child {
  margin-left: 0;
}

.header__socials--link {
  color: #3e77aa;
  font-size: 14px;
  text-decoration: none;
}

@media screen and (min-width: 425px) {
  .header__socials--link {
    font-size: 16px;
  }
}
.hero {
  background: url("/images/hero-slider-bg-2.jpg");
  height: 400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__swiper {
  width: 100%;
  height: 100%;
}

.hero__swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.hero__swiper-slide img {
  width: 260px;
  height: 260px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 768px) {
  .hero__swiper-slide img {
    width: 340px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__swiper-slide img {
    height: 300px;
  }
}
.hero__slide-about {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.hero__slide-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #3e77aa;
}

.hero__slide-title span {
  font-weight: 500;
  color: #00a046;
}

.hero__slide-price {
  font-size: 16px;
  color: #1d1d1d;
}

.hero__slide-oldPrice {
  color: #757575;
  text-decoration: line-through;
}

.hero__slide-currentPrice {
  font-size: 18px;
  color: #f84147;
}

.hero .swiper-horizontal > .swiper-pagination-bullets, .hero .swiper-pagination-bullets.swiper-pagination-horizontal, .hero .swiper-pagination-custom, .hero .swiper-pagination-fraction {
  bottom: -3px;
}

.hero .swiper-button-next, .hero .swiper-button-prev {
  color: #3e77aa;
}

.hero .swiper-button-next:after, .hero .swiper-button-prev:after {
  font-size: 28px;
}

@media screen and (min-width: 768px) {
  .hero .swiper-button-next:after, .hero .swiper-button-prev:after {
    font-size: 32px;
  }
}
.hero .swiper-pagination-bullet-active {
  background: #3e77aa;
}

.filters {
  position: relative;
  background-color: #F3F3F3;
  padding: 60px 0px 40px 0px;
}

.filters__card-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex-direction: row-reverse;
}

.filters__card-item {
  background: #fff;
  cursor: pointer;
  width: 135px;
  border-radius: 15px;
  border: 1px solid #FFCA00;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-height: 140px;
  padding: 10px;
  transition: all 0.3s ease-in;
}

.filters__card-item img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 768px) {
  .filters__card-item img {
    width: 120px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .filters__card-item img {
    width: 120px;
    height: 120px;
  }
}
@media screen and (min-width: 1440px) {
  .filters__card-item img {
    width: 150px;
    height: 150px;
  }
}
@media screen and (min-width: 1920px) {
  .filters__card-item img {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 375px) {
  .filters__card-item {
    width: 160px;
    min-height: 150px;
  }
}
@media screen and (min-width: 425px) {
  .filters__card-item {
    width: 180px;
    min-height: 160px;
  }
}
@media screen and (min-width: 576px) {
  .filters__card-item {
    width: 165px;
    min-height: 150px;
  }
}
@media screen and (min-width: 768px) {
  .filters__card-item {
    width: 220px;
    min-height: 170px;
  }
}
@media screen and (min-width: 992px) {
  .filters__card-item {
    width: 225px;
  }
}
@media screen and (min-width: 1200px) {
  .filters__card-item {
    width: 145px;
    min-height: 190px;
  }
}
@media screen and (min-width: 1440px) {
  .filters__card-item {
    width: 180px;
    min-height: 210px;
  }
}
@media screen and (min-width: 1920px) {
  .filters__card-item {
    width: 238px;
    min-height: 250px;
  }
}
.filters__card-item.active {
  border: none;
  box-shadow: 0px 0px 5px 2px rgba(255, 204, 0, 0.7450980392);
  background: #FFCA00;
}

.filters__title {
  font-weight: 500;
  font-size: 24px;
  color: #1d1d1d;
  padding: 5px 10px 5px 10px;
  background: #FFCA00;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto 40px auto;
}

@media screen and (min-width: 1200px) {
  .filters__title {
    font-size: 32px;
  }
}
.filters__name {
  font-weight: 700;
  text-align: center;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .filters__name {
    font-size: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .filters__name {
    font-size: 18px;
  }
}
.products {
  margin-top: 60px;
  padding: 50px 0px 50px 0px;
  background-color: #F3F3F3;
}

.products__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.products__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
}

@media screen and (min-width: 576px) {
  .products__list {
    flex-direction: row;
  }
}
.products__title {
  font-weight: 500;
  font-size: 24px;
  color: #1d1d1d;
  padding: 5px 10px 5px 10px;
  background: #FFCA00;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto 40px auto;
}

@media screen and (min-width: 1200px) {
  .products__title {
    font-size: 32px;
  }
}
.card {
  background: #fff;
  border: 1px solid #FFCA00;
  width: 250px;
  height: 320px;
  flex: 1;
  padding: 10px;
  border-radius: 15px;
}

@media screen and (min-width: 425px) {
  .card {
    width: 280px;
  }
}
@media screen and (min-width: 576px) {
  .card {
    height: 340px;
  }
}
@media screen and (min-width: 768px) {
  .card {
    width: 280px;
    height: 340px;
  }
}
@media screen and (min-width: 1440px) {
  .card {
    width: 340px;
    height: 400px;
  }
}
@media screen and (min-width: 1920px) {
  .card {
    width: 400px;
  }
}
.card__inner {
  display: flex;
  flex-direction: column;
}

.card__inner img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
}

@media screen and (min-width: 1440px) {
  .card__inner img {
    width: 240px;
    height: 240px;
  }
}
.card__form {
  display: flex;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
}

.card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__name {
  color: #1d1d1d;
  font-weight: 500;
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .card__name {
    font-size: 22px;
  }
}
.card__price {
  color: #f84147;
  font-weight: 700;
  margin-top: 10px;
  font-size: 18px;
}

@media screen and (min-width: 1440px) {
  .card__price {
    font-size: 22px;
  }
}
.card__footer {
  display: flex;
  margin-top: 10px;
}

.card__details--link {
  text-decoration: none;
  font-size: 16px;
  color: #1d1d1d;
  border: 1px solid #FFCA00;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in;
  padding: 4px;
}

@media screen and (min-width: 1440px) {
  .card__details--link {
    font-size: 18px;
  }
}
.card__details--link:hover {
  background-color: #FFCA00;
  color: #1d1d1d;
  border-color: #FFCA00;
}

.card__btn {
  background: #FFCA00;
  border: none;
  color: #1d1d1d;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 5px 10px;
}

@media screen and (min-width: 1440px) {
  .card__btn {
    font-size: 18px;
  }
}
.card__footer {
  display: flex;
  justify-content: center;
}

.card:first-child {
  margin-top: 0px;
}

.card.filtered {
  display: none;
}

.advantages {
  margin-top: 60px;
  width: 100%;
}

.advantages__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.advantages__title {
  font-weight: 500;
  font-size: 24px;
  color: #1d1d1d;
  padding: 5px 10px 5px 10px;
  background: #FFCA00;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto 40px auto;
}

@media screen and (min-width: 1200px) {
  .advantages__title {
    font-size: 28px;
  }
}
@media screen and (min-width: 1440px) {
  .advantages__title {
    font-size: 32px;
  }
}
.advantages__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (min-width: 576px) {
  .advantages__list {
    flex-direction: row;
  }
}
.advantages__item {
  width: 250px;
  list-style: none;
  height: 250px;
  display: flex;
  padding: 25px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: transparent;
  border: 1px solid #FFCA00;
  border-radius: 15px;
  color: #1d1d1d;
  transition: all 0.3s ease-in;
}

@media screen and (min-width: 425px) {
  .advantages__item {
    width: 280px;
    height: 280px;
  }
}
@media screen and (min-width: 576px) {
  .advantages__item {
    width: 250px;
    height: 250px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__item {
    width: 340px;
    height: 340px;
  }
}
@media screen and (min-width: 992px) {
  .advantages__item {
    width: 220px;
    height: 350px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    width: 270px;
    height: 350px;
  }
}
@media screen and (min-width: 1440px) {
  .advantages__item {
    width: 330px;
  }
}
@media screen and (min-width: 1920px) {
  .advantages__item {
    width: 380px;
    height: 400px;
  }
}
.advantages__item svg {
  width: 90px;
  height: 90px;
  fill: #FFCA00;
}

@media screen and (min-width: 768px) {
  .advantages__item svg {
    width: 120px;
    height: 120px;
  }
}
@media screen and (min-width: 1920px) {
  .advantages__item svg {
    width: 140px;
    height: 140px;
  }
}
.advantages__item p {
  font-family: 500;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .advantages__item p {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item p {
    font-size: 20px;
  }
}
@media screen and (min-width: 1920px) {
  .advantages__item p {
    font-size: 22px;
  }
}
.aboutUs {
  margin-top: 60px;
}

.aboutUs__title {
  font-weight: 500;
  font-size: 24px;
  color: #1d1d1d;
  padding: 5px 10px 5px 10px;
  text-align: center;
  margin: 0 auto;
  background: #FFCA00;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

@media screen and (min-width: 1200px) {
  .aboutUs__title {
    font-size: 32px;
  }
}
.aboutUs__inner img {
  width: 200px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  float: left;
}

@media screen and (min-width: 425px) {
  .aboutUs__inner img {
    width: 220px;
    height: 220px;
  }
}
@media screen and (min-width: 768px) {
  .aboutUs__inner img {
    width: 250px;
    height: 250px;
  }
}
@media screen and (min-width: 1200px) {
  .aboutUs__inner img {
    width: 300px;
    height: 280px;
  }
}
@media screen and (min-width: 1920px) {
  .aboutUs__inner img {
    width: 300px;
    height: 200px;
  }
}
.aboutUs__inner span {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .aboutUs__inner span {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .aboutUs__inner span {
    font-size: 22px;
  }
}
@media screen and (min-width: 1920px) {
  .aboutUs__inner span {
    font-size: 24px;
  }
}
.aboutUs__content {
  margin-top: 40px;
}

.aboutUs__p {
  font-weight: 300;
  margin-top: 10px;
  font-size: 16px;
  color: #1d1d1d;
}

@media screen and (min-width: 768px) {
  .aboutUs__p {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .aboutUs__p {
    font-size: 22px;
  }
}
@media screen and (min-width: 1920px) {
  .aboutUs__p {
    font-size: 24px;
  }
}
.aboutUs__p:first-child {
  margin-top: 0px;
}

.footer {
  border-top: 1px solid #e4e4e4;
  margin-top: 60px;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px 20px 0px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer__inner {
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
  }
}
.footer__logo-link {
  text-decoration: none;
}

.footer__logo {
  font-family: "Raleway", sans-serif;
  color: #1d1d1d;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.72px;
}

@media screen and (min-width: 768px) {
  .footer__logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    width: auto;
    margin-bottom: 0px;
    font-size: 26px;
  }
}
@media screen and (min-width: 1920px) {
  .footer__logo {
    font-size: 26px;
  }
}
.footer__logo span {
  color: #FFCA00;
}

.footer__nav--list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: row;
  gap: 20px;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .footer__nav--list {
    margin-top: 0px;
  }
}
.footer__nav--item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__nav--link {
  text-decoration: none;
  font-size: 16px;
  color: #1d1d1d;
  transition: color 0.3s ease-in;
}

@media screen and (min-width: 768px) {
  .footer__nav--link {
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__nav--link {
    font-size: 20px;
  }
}
.footer__nav--link:hover {
  color: #FFCA00;
}

.footer__address-list {
  margin-top: 20px;
  list-style: none;
  display: flex;
  gap: 5px;
  flex-direction: column;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__address-list {
    margin-top: 0px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__address-list {
    text-align: left;
  }
}
.footer__address-item {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #1d1d1d;
}

.footer__address-item span {
  color: #3e77aa;
}

.footer__address-link {
  color: #1d1d1d;
  text-decoration: none;
}

.footer__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.footer__tell-btn {
  background: #3e77aa;
  border: none;
  border-radius: 5px;
  padding: 10px 0px 10px 0px;
  color: #fff;
  font-weight: 600;
  min-width: 280px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.3s ease-out;
}

@media screen and (min-width: 992px) {
  .footer__tell-btn {
    margin-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__tell-btn {
    min-width: 400px;
  }
}
.footer__tell-btn:hover {
  transform: scale(110%);
}

.footer__social--list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.footer__social--item {
  margin-left: 20px;
}

.footer__social--item svg {
  width: 32px;
  height: 32px;
  fill: #3e77aa;
}

.footer__social--item:first-child {
  margin-left: 0px;
}

.product {
  margin-top: 60px;
}

.product__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product__img {
  width: 300px;
  height: 300px;
  margin-bottom: 40px;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .product__img {
    width: 420px;
    height: 420px;
  }
}
.product__info {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .product__info {
    justify-content: center;
    align-items: center;
  }
}
.product__info-container {
  display: flex;
  border: 1px solid #e4e4e4;
  padding: 15px 10px 15px 10px;
  border-radius: 10px;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .product__seller {
    font-size: 18px;
  }
}
.product__seller-container {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #e4e4e4;
}

.product__seller > span > span {
  background-color: #1d1d1d;
  border-radius: 10px;
  padding: 0px 4px 0px 4px;
  color: #fff;
}

.product__seller > span {
  background-color: #FFCA00;
  padding: 4px;
}

.product__economic-container {
  display: flex;
  align-items: center;
}

.product__name {
  color: #1d1d1d;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 22px;
}

@media screen and (min-width: 768px) {
  .product__name {
    font-size: 26px;
  }
}
.product__price {
  color: #f84147;
  font-weight: 700;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .product__price {
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
.product__oldPrice {
  color: #C0c0c0;
  font-size: 16px;
  text-decoration: line-through;
}

@media screen and (min-width: 768px) {
  .product__oldPrice {
    font-size: 24px;
  }
}
.product__description {
  color: #1d1d1d;
  font-weight: 500;
  margin-top: 10px;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .product__description {
    font-size: 18px;
    text-align: center;
  }
}
.product__stock {
  color: #00a046;
  margin-top: 5px;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .product__stock {
    font-size: 18px;
  }
}
.product__btns {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .product__btns {
    justify-content: center;
  }
}
.product__home-btn {
  border: 1px solid #FFCA00;
  cursor: pointer;
  border-radius: 10px;
  background: transparent;
  transition: all 0.3s ease-in;
  padding: 4px;
}

@media screen and (min-width: 768px) {
  .product__home-btn {
    padding: 5px 10px 5px 10px;
  }
}
.product__home-link {
  color: #1d1d1d;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .product__home-link {
    font-size: 17px;
  }
}
.product__basket-link {
  text-decoration: none;
  font-size: 16px;
  color: #1d1d1d;
  font-weight: 500;
}

.product__home-btn:hover {
  background: #FFCA00;
  color: #1d1d1d;
  border-color: #FFCA00;
}

.product__basket-btn {
  background: #FFCA00;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
  padding: 5px 10px 5px 10px;
}

.product__form {
  display: flex;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
}

.product__btn-buy {
  background: #FFCA00;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 5px 10px;
}

.product__btn-buy span {
  font-size: 16px;
  color: #1d1d1d;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .product__btn-buy span {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .product__btn-buy {
    padding: 5px 15px 5px 15px;
  }
}
.basket {
  margin-top: 60px;
}

.basket__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.basket__title {
  font-weight: 500;
  font-size: 24px;
  color: #1d1d1d;
  padding: 5px 10px 5px 10px;
  background: #FFCA00;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

@media screen and (min-width: 1200px) {
  .basket__title {
    font-size: 32px;
  }
}
.basket__product-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .basket__product-list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .basket__product-list {
    gap: 30px;
  }
}
.basket__product-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  padding: 10px;
}

.basket__img-link {
  display: flex;
  justify-content: center;
}

.basket__product-img {
  width: 240px;
  height: 240px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 20px;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .basket__product-img {
    width: 320px;
    height: 320px;
  }
}
@media screen and (min-width: 1200px) {
  .basket__product-img {
    width: 380px;
    height: 380px;
  }
}
.basket__product-name {
  color: #1d1d1d;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
  font-size: 22px;
}

@media screen and (min-width: 768px) {
  .basket__product-name {
    font-size: 24px;
  }
}
.basket__product-count {
  color: #1d1d1d;
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  width: 50px;
  border: 1px solid #c0c0c0;
  height: 100%;
  border-radius: 10px;
  margin: 0px 5px 0px 5px;
}

.basket__product-count:focus {
  outline-color: #3e77aa;
}

.basket__product-btns {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.basket__product-btns button {
  border: none;
  background: transparent;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}

.basket__product-btns button svg {
  width: 24px;
  height: 24px;
  fill: #3e77aa;
}

.basket__product-price {
  color: #1d1d1d;
  font-weight: 500;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .basket__product-price {
    font-size: 18px;
  }
}
.basket__product-currentPrice {
  color: #f84147;
  font-weight: 700;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .basket__product-currentPrice {
    font-size: 20px;
  }
}
.basket__product-oldPrice {
  color: #C0c0c0;
  font-size: 16px;
  text-decoration: line-through;
}

@media screen and (min-width: 768px) {
  .basket__product-oldPrice {
    font-size: 18px;
  }
}
.basket__product-totalCost {
  margin-top: 5px;
  color: #1d1d1d;
  font-weight: 500;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .basket__product-totalCost {
    font-size: 18px;
  }
}
.basket__product-totalCost span {
  color: #f84147;
  font-weight: 700;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .basket__product-totalCost span {
    font-size: 20px;
  }
}
.basket__home-link {
  text-decoration: none;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 16px;
  color: #3e77aa;
}

@media screen and (min-width: 768px) {
  .basket__home-link {
    font-size: 18px;
  }
}
.basket__order-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.basket__order-title {
  font-weight: 500;
  font-size: 24px;
  color: #1d1d1d;
  padding: 5px 10px 5px 10px;
  background: #FFCA00;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

@media screen and (min-width: 1200px) {
  .basket__order-title {
    font-size: 32px;
  }
}
.basket__order-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .basket__order-list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .basket__order-list {
    gap: 30px;
  }
}
.basket__order-item {
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  padding: 10px;
}

.basket__order-info {
  display: flex;
  flex-direction: column;
}

.basket__order-count {
  font-size: 18px;
  font-weight: 500;
  color: #1d1d1d;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .basket__order-count {
    font-size: 20px;
  }
}
.basket__order-count span {
  color: #3e77aa;
}

.basket__order-total {
  font-size: 20px;
  font-weight: 500;
  color: #1d1d1d;
  margin-top: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .basket__order-total {
    margin-top: 20px;
  }
}
.basket__order-total span {
  color: #f84147;
  font-weight: 700;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .basket__order-total span {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .basket__order-total span {
    font-size: 24px;
  }
}
.basket__order-confirm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.basket__order-send {
  display: flex;
  justify-content: center;
}

.basket__btn-confirm {
  background: #1ec667;
  border-radius: 10px;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  color: #1d1d1d;
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .basket__btn-confirm {
    padding: 7px 14px 7px 14px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .basket__btn-confirm {
    padding: 10px 28px 10px 28px;
  }
}
.basket .disable-btn {
  background: rgba(234, 234, 234, 0.9058823529);
  border: 1px solid rgba(123, 123, 123, 0.9058823529);
  color: rgba(123, 123, 123, 0.9058823529);
}

.basket__checkout-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%);
  z-index: 1001;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  width: 280px;
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 100%;
  padding: 15px 15px 15px 20px;
  transition: all 0.3s ease-out;
}

@media screen and (min-width: 425px) {
  .basket__checkout-modal {
    width: 340px;
  }
}
@media screen and (min-width: 576px) {
  .basket__checkout-modal {
    width: 480px;
  }
}
@media screen and (min-width: 1440px) {
  .basket__checkout-modal {
    width: 528px;
  }
}
@media screen and (min-width: 1920px) {
  .basket__checkout-modal {
    width: 550px;
  }
}
.basket__checkout-modal.active {
  opacity: 1;
  visibility: visible;
}

.basket__checkout-modal.overflow {
  overflow-y: scroll;
}

.basket__checkout-modal::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.6) url("/images/loading-gif.gif") center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in;
}

.basket__checkout-modal._sending::after {
  opacity: 1;
  visibility: visible;
}

.basket__checkout--close {
  position: absolute;
  right: 0;
  bottom: 5px;
  z-index: 1001;
  height: 2px;
  width: 20px;
  background-color: transparent;
}

.basket__checkout--close::after {
  content: "";
  border-radius: 1px;
  position: absolute;
  right: 0;
  top: 7px;
  height: 2px;
  width: 20px;
  background-color: transparent;
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.basket__checkout--close::before {
  content: "";
  border-radius: 1px;
  position: absolute;
  right: 0;
  top: 14px;
  height: 2px;
  width: 20px;
  background-color: transparent;
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.basket__btn--closeCheckout {
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
}

.basket__btn--closeCheckout .basket__checkout--close {
  background-color: transparent !important;
  cursor: pointer;
  transition-delay: 0.15s;
}

.basket__btn--closeCheckout .basket__checkout--close::after {
  background-color: #1d1d1d;
  top: -10px;
  left: 250px;
  width: 20px;
  transform: translate3d(0, 10px, 0) rotate(-45deg);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s, background 0.3s ease-out;
}

@media screen and (min-width: 425px) {
  .basket__btn--closeCheckout .basket__checkout--close::after {
    left: 311px;
  }
}
@media screen and (min-width: 576px) {
  .basket__btn--closeCheckout .basket__checkout--close::after {
    left: 455px;
  }
}
@media screen and (min-width: 1440px) {
  .basket__btn--closeCheckout .basket__checkout--close::after {
    left: 499px;
  }
}
.basket__btn--closeCheckout .basket__checkout--close::before {
  background-color: #1d1d1d;
  top: -10px;
  left: 250px;
  width: 20px;
  transform: translate3d(0, 10px, 0) rotate(45deg);
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.1s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s, background 0.3s ease-out;
}

@media screen and (min-width: 425px) {
  .basket__btn--closeCheckout .basket__checkout--close::before {
    left: 311px;
  }
}
@media screen and (min-width: 576px) {
  .basket__btn--closeCheckout .basket__checkout--close::before {
    left: 455px;
  }
}
@media screen and (min-width: 1440px) {
  .basket__btn--closeCheckout .basket__checkout--close::before {
    left: 499px;
  }
}
.basket__btn--closeCheckout:hover .basket__checkout--close::after, .basket__btn--closeCheckout:hover .basket__checkout--close::before {
  background: #3e77aa;
}

.basket__checkout-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  gap: 20px;
  border-bottom: 1px solid #c0c0c0;
}

.basket__checkout-item {
  display: flex;
  gap: 20px;
}

.basket__product-img-checkout {
  width: 100px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.basket__delivery-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  max-width: 650px;
  gap: 10px;
  flex-direction: row;
}

.basket__delivery-title {
  margin-bottom: 10px;
}

.basket__delivery-item {
  display: flex;
  flex-direction: column;
}

.basket__delivery-item label {
  font-weight: 300;
  color: #1d1d1d;
  margin-bottom: 3px;
}

.basket__delivery-item input {
  max-width: 300px;
  color: #1d1d1d;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  padding: 2px 2px 1px 5px;
  font-weight: 300;
}

.basket__delivery-item input:focus {
  outline: 1px solid #3e77aa;
}

.basket__delivery-item input[type=number]::-webkit-inner-spin-button,
.basket__delivery-item input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.basket__delivery-item input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

.basket__delivery-item ._error {
  outline: 1px solid rgb(240, 40, 40);
}

.basket__delivery-item ._error::-moz-placeholder {
  color: rgb(236, 96, 96);
}

.basket__delivery-item ._error::placeholder {
  color: rgb(236, 96, 96);
}

.basket__submit-checkout {
  background: #1ec667;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-top: 15px;
  text-align: center;
  color: #1d1d1d;
  cursor: pointer;
  min-width: 200px;
}

.categories {
  margin-top: 60px;
}

.categories__inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.categories__title {
  font-weight: 500;
  font-size: 22px;
  color: #1d1d1d;
  padding: 5px 10px 5px 10px;
  background: #FFCA00;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .categories__title {
    font-size: 32px;
  }
}
.categories__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 40px;
  gap: 20px;
}

@media screen and (min-width: 576px) {
  .categories__list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.categories__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #FFCA00;
  transition: 0.3s all ease-in;
}

.categories__item:hover {
  background: #FFCA00;
}

.categories__item:hover a {
  color: #1d1d1d;
}

.categories__image {
  width: 180px;
  height: 180px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 425px) {
  .categories__image {
    width: 200px;
  }
}
@media screen and (min-width: 992px) {
  .categories__image {
    width: 250px;
  }
}
@media screen and (min-width: 1200px) {
  .categories__image {
    width: 300px;
  }
}
@media screen and (min-width: 1440px) {
  .categories__image {
    width: 320px;
    height: 220px;
  }
}
@media screen and (min-width: 1920px) {
  .categories__image {
    width: 450px;
    height: 200px;
  }
}
.categories__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.3s all ease-in;
  color: #3e77aa;
}

.categories__link:visited {
  color: #3e77aa;
}

.category {
  margin-top: 60px;
}

.category__title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .category__inner {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.category__title {
  font-weight: 500;
  font-size: 22px;
  color: #1d1d1d;
  padding: 5px 10px 5px 10px;
  background: #FFCA00;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .category__title {
    font-size: 32px;
  }
}
.category__product-count {
  color: #1d1d1d;
  font-weight: 500;
  font-size: 15px;
  margin-top: 10px;
}

.category__product-count span {
  color: #3e77aa;
  text-transform: lowercase;
}

@media screen and (min-width: 375px) {
  .category__product-count {
    font-size: 17px;
  }
}
.category__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .category__list {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.category__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .category__item {
    max-width: 330px;
    height: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .category__item {
    max-width: 270px;
  }
}
@media screen and (min-width: 1440px) {
  .category__item {
    max-width: 330px;
  }
}
@media screen and (min-width: 1920px) {
  .category__item {
    max-width: 420px;
  }
}
.category__item img {
  width: 300px;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 768px) {
  .category__item img {
    width: 100%;
    height: 330px;
  }
}
.category__product {
  display: flex;
  flex-direction: column;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .category__product {
    width: 100%;
    justify-content: center;
    min-height: 280px;
  }
}
@media screen and (min-width: 1200px) {
  .category__product {
    min-height: 320px;
  }
}
@media screen and (min-width: 1440px) {
  .category__product {
    min-height: 280px;
  }
}
.category__product-name {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .category__product-name {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .category__product-name {
    font-size: 20px;
  }
}
@media screen and (min-width: 1920px) {
  .category__product-name {
    font-size: 24px;
  }
}
.category__product-descr {
  margin-top: 10px;
  font-weight: 300;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .category__product-descr {
    font-size: 18px;
  }
}
@media screen and (min-width: 1920px) {
  .category__product-descr {
    font-size: 20px;
  }
}
.category__product-price {
  font-weight: 500;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .category__product-price {
    font-size: 18px;
  }
}
@media screen and (min-width: 1920px) {
  .category__product-price {
    font-size: 20px;
  }
}
.category__product-oldPrice {
  color: #C0c0c0;
  font-size: 16px;
  text-decoration: line-through;
}

@media screen and (min-width: 768px) {
  .category__product-oldPrice {
    font-size: 18px;
  }
}
@media screen and (min-width: 1920px) {
  .category__product-oldPrice {
    font-size: 20px;
  }
}
.category__product-newPrice {
  color: #f84147;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .category__product-newPrice {
    font-size: 20px;
  }
}
@media screen and (min-width: 1920px) {
  .category__product-newPrice {
    font-size: 22px;
  }
}
.category__buttons {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.category__details-link {
  text-decoration: none;
  font-size: 16px;
  color: #1d1d1d;
  border: 1px solid #FFCA00;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in;
  padding: 4px;
}

@media screen and (min-width: 768px) {
  .category__details-link {
    padding: 5px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1920px) {
  .category__details-link {
    font-size: 20px;
  }
}
.category__details-link:hover {
  background-color: #FFCA00;
  color: #1d1d1d;
  border-color: #FFCA00;
}

.category__basket-btn {
  background: #FFCA00;
  border: none;
  color: #1d1d1d;
  width: 70px;
  height: 34px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
}

@media screen and (min-width: 768px) {
  .category__basket-btn {
    font-size: 18px;
    padding: 7px 14px 7px 14px;
    width: 90px;
    height: 39px;
  }
}
@media screen and (min-width: 1920px) {
  .category__basket-btn {
    font-size: 20px;
  }
}
